{% extends "base.html" %}

{% block content %}
    <h1>Certificates</h1>
    <div class="certificate">
        <h2>1. Machine Learning</h2>
        <p class="description">Description of Certificate 1.</p>
        <p><a href="https://drive.google.com/file/d/1vZ3YV5BphhKGHw6r8o89qwhevG8KMzSC/view?usp=drive_link">View Certificate 1</a></p>
    </div>
    <div class="certificate">
        <h2>2. AWS Clould Practioner</h2>
        <p class="description">Description of Certificate 2.</p>
        <p><a href="https://drive.google.com/file/d/1yVDT7zdQhaNzE_DrhyeMtyjVTVd_leCL/view?usp=drive_link">View Certificate 2</a></p>
    </div>
    <div class="certificate">
        <h2>3. Mern Stack Internship training</h2>
        <p class="description">Description of Certificate 3.</p>
        <p><a href="https://drive.google.com/file/d/1_ssX9iCOnKy3iMKmTNs_cCPADi8xe1Mp/view?usp=drive_link">View Certificate 3</a></p>
    </div>
    <div class="certificate">
        <h2>4. Flask </h2>
        <p class="description">Description of Certificate 4.</p>
        <p><a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-06e4683d-26c2-4c1e-bf0a-8921dab00448.pdf">View Certificate 4</a></p>
    </div>
    <div class="certificate">
        <h2>5. seven mentor Internship</h2>
        <p class="description">Description of Certificate 5.</p>
        <p><a href="https://drive.google.com/file/d/1jjOp3GtqyTtM1Plp_bATGfFRfknjhY3O/view?usp=drive_link">View Certificate 5</a></p>
    </div>
{% endblock %}
