{% extends "base.html" %}

{% block content %}
    <h1>Club Activities</h1>
    <div class="activity">
        <h2>1. Animation Club Creative Head</h2>
        <p class="description">Organized student-run clubs and activities. And become the Creative Head of the Creative Team of the Animation Club of VIT vellore.</p>
        <p><a href="https://drive.google.com/file/d/1FWC0lHo6sbdExIAkLUR4lsQMlW0Dzuse/view?usp=drive_link">certificate</a></p>
    </div>
    <div class="activity">
        <h2>2. Contributions to the Club</h2>
        <p class="description">Assisted the Club by coming up with creative ideas for events , organizing the events and played a huge role in getting sponsors for the events.</p>
    </div>
{% endblock %}
