{% extends "base.html" %}

{% block content %}
    <h1>Projects</h1>
    <div class="projects-container">
        <div class="project">
            <h2> 1. Education Career Predictor</h2>
            <p class="description">Developed an interactive web-based tool designed to help users explore and predict potential educational and career paths based on their input. The intuitive user interface streamlined the decision-making process, significantly reducing user input time by 25% and providing tailored career recommendations.</p>
            <p><a href="https://github.com/varad233/Education-career-pred">Github</a></p>
            <p><a href="https://education-career-pred.onrender.com/">Website</a></p>
        </div>
        <div class="project">
            <h2>2. Plagiarism checker</h2>
            <p class="description">Created a robust web application to detect and report plagiarism in text submissions. The tool utilized advanced algorithms to compare input content against a database of sources, ensuring high accuracy in identifying potential instances of plagiarism and maintaining content integrity.</p>
            <p><a href="https://github.com/varad233/Plagrism-detector-project">Github</a></p>
            <p><a href="https://plagrism-detector-project.onrender.com/">Website</a></p>
        </div>
        <div class="project">
            <h2>3. Sample Image Recognition</h2>
            <p class="description">Designed and implemented an image recognition system to classify and categorize images based on predefined labels. The project utilized advanced machine learning algorithms and deep learning techniques to accurately identify and process visual data, demonstrating the capability to handle diverse image datasets and deliver reliable results.            </p>
            <p><a href="https://github.com/varad233/sampleImageRec">Github</a></p>
        </div>
        <div class="project">
            <h2>4. Car Price Predictor</h2>
            <p class="description">Developed a predictive model to estimate car prices based on various features such as make, model, mileage, and condition. The web application provided users with accurate price forecasts, leveraging machine learning algorithms to analyze historical data and trends, thereby aiding in informed buying and selling decisions.</p>
            <p><a href="https://github.com/varad233/project2-car-rate-prediction">Github</a></p>
        </div>
        <div class="project">
            <h2>5. Movie Recommender System</h2>
            <p class="description">Developed a recommendation engine that suggests movies to users based on their preferences and viewing history. The system used collaborative filtering and content-based algorithms to analyze user behavior and movie attributes, providing personalized recommendations and enhancing user experience with tailored suggestions..</p>
            <p><a href="https://github.com/varad233/movie_recommender_system">View Project 4</a></p>
        </div>
    </div>
{% endblock %}
